[mysqld]
skip-host-cache
port            = 3306
datadir         = /var/lib/mysql
socket          = /var/lib/mysql/mysql.sock

[mysqld_safe]
pid-file	= /var/lib/mysql/mysqld.pid
log-error	= /var/lib/mysql/mysql-error.log

[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock

!includedir /etc/my.cnf.d
